
  
<section class="gt_section-4298111 " data-name="Password">
  <div class="gt_background_banner gt_lazyload" style=" background-image: url('https://i.imgur.com/H8wUGG8.jpg')">
  </div>
    
    {% layout 'password' %}
    
    <div class="gt_password">
        <div class="gt_container">
            <div class="gt_row">
                <div class="gt_flex note">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 8.5V17.5H16.5V8.5H1.5ZM1 7C0.447715 7 0 7.44772 0 8V18C0 18.5523 0.447716 19 1 19H17C17.5523 19 18 18.5523 18 18V8C18 7.44772 17.5523 7 17 7H1Z" fill="#fff"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.76236 3.87471C3.99125 5.11697 3.75 6.70739 3.75 8H2.25C2.25 6.57039 2.50892 4.66081 3.48793 3.08362C4.49963 1.45378 6.24051 0.25 9.00017 0.25C11.7598 0.25 13.5007 1.45379 14.5123 3.08365C15.4912 4.66084 15.75 6.57042 15.75 8.00002L14.25 7.99998C14.25 6.70736 14.0089 5.11694 13.2378 3.87469C12.4995 2.6851 11.2403 1.75 9.00017 1.75C6.76 1.75 5.50079 2.68511 4.76236 3.87471Z" fill="#fff"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 12C9.41421 12 9.75 12.3358 9.75 12.75V14.75C9.75 15.1642 9.41421 15.5 9 15.5C8.58579 15.5 8.25 15.1642 8.25 14.75V12.75C8.25 12.3358 8.58579 12 9 12Z" fill="#fff"/>
                    </svg>
                    <p class="md-trigger md-setperspective" data-modal="modal-17">
                      Enter Store using Password
                    </p>
                </div>
                <div class="message">
                    <h2>
                      WE WILL BE BACK
                    </h2>
                    <h3>
                      We were working so hard for the new frontend revamp and now we need a little nap
                    </h3>
                    <div class="line"></div>
                    <h3>
                      Signup for our password and updates
                    </h3>
                    
                    {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
                    {{ form.errors | default_errors }}
                    
                    {% if form.posted_successfully? %}
                    <p>Thanks for signing up!</p>
                    {% else %}
                    <div class="mail-input">
                      <input type="email" name="contact[email]" id="email" placeholder="Your E-mail address">
                        <button class="md-trigger md-setperspective" type="submit" name="commit" data-modal="modal-18">
                          Submit
                        </button>
                    </div>
                    {% endif %}
                    
                    {% endform %}
                    
                    <h4>
                      Spread the word
                    </h4>
                    <div class="gt_flex gt_justify-c-center icon-social">
                        
                        <a class="gt_social__facebook" href="#" target="_blank">
                            <svg width="15" height="30" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.2373 9.71414H9.38857V6.6005C9.38857 5.43117 10.1801 5.15856 10.7376 5.15856C11.2938 5.15856 14.1593 5.15856 14.1593 5.15856V0.0180086L9.44692 0C4.21575 0 3.0253 3.83399 3.0253 6.28752V9.71414H0V15.0112H3.0253C3.0253 21.8092 3.0253 30 3.0253 30H9.38857C9.38857 30 9.38857 21.7284 9.38857 15.0112H13.6823L14.2373 9.71414Z" fill="#fff" fill-opacity="0.8"/>
                            </svg>
                        </a>
                        
                        
                        
                        <a class="gt_social__twitter" href="#" target="_blank">
                            <svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33.0002 3.3472C31.8007 3.85581 30.5099 4.19889 29.1555 4.35242C30.5384 3.56265 31.5987 2.31166 32.0988 0.819307C30.8053 1.55158 29.3734 2.08294 27.8481 2.36978C26.6275 1.1289 24.8876 0.353027 22.9623 0.353027C19.2659 0.353027 16.269 3.21199 16.269 6.73879C16.269 7.23856 16.328 7.72569 16.4425 8.19386C10.8792 7.92724 5.94634 5.38544 2.64475 1.52189C2.06855 2.46456 1.73872 3.56139 1.73872 4.73277C1.73872 6.94792 2.92027 8.90276 4.71644 10.0476C3.61966 10.0141 2.58713 9.72665 1.68441 9.24836C1.68375 9.2749 1.68375 9.30207 1.68375 9.32924C1.68375 12.4226 3.99122 15.0029 7.05371 15.5905C6.49208 15.7358 5.90064 15.8142 5.29 15.8142C4.85817 15.8142 4.43894 15.7744 4.03029 15.6992C4.88268 18.2359 7.3544 20.0827 10.2831 20.1339C7.9922 21.8468 5.10654 22.8678 1.96986 22.8678C1.43009 22.8678 0.89693 22.8375 0.373047 22.7781C3.3362 24.5907 6.85436 25.6471 10.6341 25.6471C22.947 25.6471 29.6794 15.9172 29.6794 7.47865C29.6794 7.20191 29.6734 6.92581 29.6608 6.6516C30.9682 5.75316 32.1034 4.62789 33.0002 3.3472Z" fill="#fff" fill-opacity="0.8"/>
                            </svg>
                        </a>
                        
                    </div>
                </div>
                <!---->
                {% assign check = '' %}
                
                {% form 'storefront_password' %}
                {% if form.errors %}
                  {% assign check = 'md-show' %}
                {% else %}
                  {% assign check = '' %}
                {% endif %}
                
                <div class="modal-lg {{ check }}" id="modal-17">
                    <div class="modal-content">
                        <div class="type-password">
                            <h3>
                              Enter Store using Password
                            </h3>
                            <div class="error">{{ form.errors | default_errors }}</div>
                            <div class="button-submit-mail">
                                <input type="password" name="password" placeholder="Your Password">
                                <button type="submit">
                                  Enter
                                </button>
                            </div>
                            <h4>
                               Are you the store owner? 
                              <a href="/account/login">
                                Login here
                              </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="md-overlay"></div>
                
                {% endform %}
                
                
            </div>
        </div>
    </div>
  
</section>

  