
  
<section class="gt_section-4298115 " data-name="Top Bar">
    <div class="gt_topbar">
       <div class="gt_container">
          <div class="gt_flex gt_justify-c-between gt_align-i-center gt_topbar-content">
             <div class="gt_flex gt_align-i-center gt_social">
                
                
                
               
                
             </div>
             <div class="gt_topbar-text"> 
                <span>SALE ENDS TOMORROW</span>
             </div>
             <div class="gt_flex gt_justify-c-right gt_info">
                <div class="gt_topbar_currency">
                   <div hook-currency="true"></div>
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </section>

<section class="gt_section-4298082 " data-name="Header">
  <div class="gt_header-pilot">

    <div class="gt_menu-mobile">
      


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            
              
                

                <li class="gt_dropdown gt_level1" data-level="1">
                  
                  
                    
                  
                 <div class="gt_menu--mobile">
                    <a class="gt_menu_text" href="/">
                    <span>
                      Shop
                    </span>
                    </a>
                    
                 </div>
                  
                    

                  
                </li>
              
                

                <li class="gt_dropdown gt_level1" data-level="1">
                  
                  
                    
                  
                 <div class="gt_menu--mobile">
                    <a class="gt_menu_text" href="/pages/es-organic-services">
                    <span>
                      Gift
                    </span>
                    </a>
                    
                 </div>
                  
                    

                  
                </li>
              
                

                <li class="gt_dropdown gt_level1" data-level="1">
                  
                  
                    
                  
                 <div class="gt_menu--mobile">
                    <a class="gt_menu_text" href="/pages/es-organic-contact-page">
                    <span>
                      About
                    </span>
                    </a>
                    
                 </div>
                  
                    

                  
                </li>
              
            
          </ul>
        </div>
        <!--end submenu mobile-->
    </div>







    <header class="gt_site-header {% if template.name != 'index' %}fixheader{% endif %}  " id="header">
      <!--mobile-->
      {% if template.name == "index" %}
        <h1 class="gt_logo logo_mobile">
          <a href="/" class="img1">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/swKpCvsTXV-kankan-logo-png_10x.png" alt="logo%20image">
  
            
          </a>
  
          <a href="/" class="img2">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/zJduQrLNFU-kankan-logo-png_10x.png" alt="logo%20image">
  
            
          </a>
        </h1>
      {% else %}
        <h2 class="gt_logo logo_mobile">
          <a href="/" class="img1">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/swKpCvsTXV-kankan-logo-png_10x.png" alt="logo%20image">
  
            
          </a>
  
          <a href="/" class="img2">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/zJduQrLNFU-kankan-logo-png_10x.png" alt="logo%20image">
  
            
          </a>
        </h2>
      {% endif %}
      
      <div class="gt_cart cart_mobile">
        <a class="gt_show-cart" href="/cart" data-cart>
          <svg class="svg-icon gt_ic-shopping-car" width="28" height="24" viewBox="0 0 28 24">
            <path fill="currentColor" d="M0.00549316406,0.00341796875 L0,1.31665527 L3.86992452,1.31665527 C5.19152452,6.73894861 7.85501467,17.2152259 7.85501467,17.2152259 C7.92254938,17.481112 8.20782148,17.6966553 8.48322255,17.6966553 L23.7786204,17.6966553 C24.0580354,17.6966553 24.3451532,17.4846551 24.4218708,17.2163022 L28.0056873,4.68035384 C28.0815297,4.41506216 27.923855,4.20000076 27.6389203,4.20000076 L6,4.20000076 C5.63264,2.72049527 4.93469238,0 4.93469238,0 L0.00549316406,0.00341796875 Z M6.38000488,5.60000038 L26.4599915,5.60000038 L23.4200134,16.3766479 L8.98999023,16.3766479 L6.38000488,5.60000038 Z M9,21.68 C9,22.60736 9.75264,23.36 10.68,23.36 C11.60736,23.36 12.36,22.60736 12.36,21.68 C12.36,20.75264 11.60736,20 10.68,20 C9.75264,20 9,20.75264 9,21.68 Z M19,21.68 C19,22.60736 19.75264,23.36 20.68,23.36 C21.60736,23.36 22.36,22.60736 22.36,21.68 C22.36,20.75264 21.60736,20 20.68,20 C19.75264,20 19,20.75264 19,21.68 Z"/>
          </svg>
          <span class="gt_cart-count">{{ cart.item_count }}</span>
        </a>
      </div>
      <!--end mobile-->

      <!--desk-->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          
          
            
              

              
              
                
                
              
                
                
              
                
                
              

              

              <li class="active  typeParentSubMenu  ">
                
                
                  
                

                <!--Level 1: when no pick link or link value = # => remove href -->
                <a class="sub_menu_l1" href="/">
                  <span>
                    Shop
                  </span>

                  
                </a>

                
              </li>
            
              

              
              
                
                
              
                
                
              
                
                
              

              

              <li class="active  typeParentSubMenu  ">
                
                
                  
                

                <!--Level 1: when no pick link or link value = # => remove href -->
                <a class="sub_menu_l1" href="/pages/es-organic-services">
                  <span>
                    Gift
                  </span>

                  
                </a>

                
              </li>
            
              

              
              
                
                
              
                
                
              
                
                
              

              

              <li class="active  typeParentSubMenu  ">
                
                
                  
                

                <!--Level 1: when no pick link or link value = # => remove href -->
                <a class="sub_menu_l1" href="/pages/es-organic-contact-page">
                  <span>
                    About
                  </span>

                  
                </a>

                
              </li>
            
          
        </ul>
      </div>

      {% if template.name == "index" %}
        <h1 class="gt_logo logo_desktop">
          <a href="/" class="gt_heading img1">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/swKpCvsTXV-kankan-logo-png_10x.png" alt="logo%20image">
            
          </a>
          <a href="/" class="img2">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/zJduQrLNFU-kankan-logo-png_10x.png" alt="logo%20image">
            
          </a>
        </h1>
      {% else %}
        <h2 class="gt_logo logo_desktop">
          <a href="/" class="gt_heading img1">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/swKpCvsTXV-kankan-logo-png_10x.png" alt="logo%20image">
            
          </a>
          <a href="/" class="img2">
            
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/zJduQrLNFU-kankan-logo-png_10x.png" alt="logo%20image">
            
          </a>  
        </h2>
      {% endif %}
      <div class="gt_header-tools ">
        <ul class="gt_tool tool_desktop">
          <li class="gt_usd">
            <div data-currency></div>
          </li>
          
          
          <li class="gt_cart">
            <a class="gt_show-cart" href="/cart" data-cart>
              <svg class="svg-icon gt_ic-shopping-cart" width="28" height="24" viewBox="0 0 28 24">
                <path fill="currentColor" d="M0.00549316406,0.00341796875 L0,1.31665527 L3.86992452,1.31665527 C5.19152452,6.73894861 7.85501467,17.2152259 7.85501467,17.2152259 C7.92254938,17.481112 8.20782148,17.6966553 8.48322255,17.6966553 L23.7786204,17.6966553 C24.0580354,17.6966553 24.3451532,17.4846551 24.4218708,17.2163022 L28.0056873,4.68035384 C28.0815297,4.41506216 27.923855,4.20000076 27.6389203,4.20000076 L6,4.20000076 C5.63264,2.72049527 4.93469238,0 4.93469238,0 L0.00549316406,0.00341796875 Z M6.38000488,5.60000038 L26.4599915,5.60000038 L23.4200134,16.3766479 L8.98999023,16.3766479 L6.38000488,5.60000038 Z M9,21.68 C9,22.60736 9.75264,23.36 10.68,23.36 C11.60736,23.36 12.36,22.60736 12.36,21.68 C12.36,20.75264 11.60736,20 10.68,20 C9.75264,20 9,20.75264 9,21.68 Z M19,21.68 C19,22.60736 19.75264,23.36 20.68,23.36 C21.60736,23.36 22.36,22.60736 22.36,21.68 C22.36,20.75264 21.60736,20 20.68,20 C19.75264,20 19,20.75264 19,21.68 Z"/>
              </svg>
              <span class="gt_cart-count">{{ cart.item_count }}</span>
            </a>
          </li>
        </ul>

        <div class="medium-up--hide gt_show-menu gt_toggle-menus">
          <div class="gt_toggle-menus-lines">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>

      
    </header>

  </div>
</section>


  